.swiper-container-free-mode > .swiper-wrapper{-webkit-transition-timing-function:linear!important; -o-transition-timing-function:linear!important; transition-timing-function:linear!important; }

html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body {
	width: 100%;
} #header_inner,.main_contact,#section02_inner,#company {
	width: 960px;
	margin: 0 auto;
} #header_inner {
	height: 65px;
	width: 100%;
	position: fixed;
	background-color: rgba(238,249,255,0.7);
	z-index:2;
} #header_logo,#header_contact,#header_text {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
} #header_logo {
	float: left;
	padding-left: 30px;
} #header_contact {
	width: 155px;
	height: 51px;
	right: 0;} #header_contact_inner {
	display: block;
	width: 102px;
	height: 24px;
	text-align: center;
	padding: 14px 26px 13px 27px;
	background-color: #ff0600;
	transition: 0.4s;
} #header_contact_inner:hover {
	transform: scale(1.1,1.1);
} #header_contact_inner p {
	color: #fff;
} #header_text {
	width: 243px;
	height: 29px;
	right: 155px;
} #Wiki_Top_img {
	width:75%;
	min-height:450px;
	margin-left:30%;
	background:url(../images/Wiki_Top.jpg)no-repeat;
	border-bottom-left-radius:100px;
	background-size:cover;
} #Wiki_Top_title {
	position:relative;
	bottom:100px;
	left:90px;
	width:10%;
	padding:0px;
} .main-title {
	display:block;
	margin:0 0 20px 0;
	font-size:5.8rem;
	font-weight:bolder;
	line-height:1;
	color:black;
	text-align:left;
} .sub-title {
	display:block;
	font-size:1.5rem;
	color:black;
	text-align:left;
} #header_text p {
	font-size: 0.9rem;
} #main_image_Vision {
	display: table;
	width: 100%;
	height: 482px;
	background-size: cover;
} #main_image_Vision_inner {
	width: 100%;
	height: 482px;
	position: relative;
	background: url(sis_dx_home/Introduction/images/Vision.png) no-repeat;
	background-size:cover;
}
h1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 85px;
	margin: auto;
	color: #ccc;
	font-size: 4.3rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.scroll {
	height: 87px;
	width: 100%;
	background-color: #aaa;
	position: relative;
	display: table;
}
.scroll:after {
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	bottom: -14px;
	border-top: 43px solid #aaa;
	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}
h2 {
	color: #fff;
	font-size: 1.9rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.CoffeeBrake_Top {
    	background-position: center top;
    	background-image: url(../images/CoffeeBrake_Top.jpg);
    	background-size: cover;
    	height: 550px;
}
.CoffeeBrake_Title {
    	padding-top: 100px;
    	padding-left: 80px;
    	position: absolute;
    	font-size: xxx-large;
    	color: #fff;
    	text-align: right;
}
.main_coffee {
    padding-top: 200px;
}
nav {
	height: 396px;
	width: 100%;
	margin: 0 auto;
} #main_nav {
	width: 67.5%;
	min-width: 687px;
	height: 396px;
	overflow: hidden;
	margin: 0 auto;
	padding: 88px 0;
	color: #fff;
} #main_nav li {
	float: left;
	height: 225px;
	width: 225px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
} #main_nav li:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 22px;
	right: 0;
	left: 0;
	width: 21px;
	height: 21px;
	margin: auto;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: rotate(45deg);
} #main_nav li:last-of-type {
	float: none;
	margin: 0 auto;
} #main_nav li:nth-of-type(2) {
	float: right;
} #main_nav a {
	color: #fff;
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 50%;
	text-align: center;
	padding: 83px 0 100px;
} #div03 {
	height: 750px;
}
#main_nav_b {
	width: 67.5%;
	min-width: 687px;
	height: 396px;
	overflow: hidden;
	margin: 0 auto;
	padding: 88px 0;
} #main_nav_b li {
	float: left;
	height: 225px;
	width: 225px;
	border: 2px solid #000;
	border-radius: 50%;
	position: relative;
} #main_nav_b li:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 22px;
	right: 0;
	left: 0;
	width: 21px;
	height: 21px;
	margin: auto;
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
	transform: rotate(45deg);
} #main_nav_b li:last-of-type {
	float: none;
	margin: 0 auto;
} #main_nav_b li:nth-of-type(2) {
	float: right;
} #main_nav_b a {
	color: #000;
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 50%;
	text-align: center;
	padding: 83px 0 100px;
}

.contents {
	height: 400px;
	overflow: hidden;
}
.left {
	float: left;
	height: 400px;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
} #photo01 {
	background-image: url(../images/step1.jpg);
} #photo02 {
	background-image: url(../images/step2.jpg);
} #photo03 {
	background-image: url(../images/step3.jpg);
}
.right {
	float: right;
	width: 50%;
	height: 400px;
}
.center {
	float: center;
	width: 50%;
	height: 400px;
}
.member {
	text-align: center;
	border: 3px solid black;
	border-left: 0px;
	border-right: 0px;
	margin: 20px 450px;
}
.text {
	background-color: white;
}
.contents p,h4 {
	margin: 30px 120px 0 21px;
	color: #000000;
}
h4 {
	font-size: 3rem;
}
.member_intro {
	font-size: 40px;
	font-weight:600;
	border-bottom: 1px solid black;
}
#introductionBox {
	width: 640px;
	margin: 0 auto;
}
#parent {
	width: 660px;
	margin-right: -20px;
}
#parent .child {
	width: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	display: inline;
	font-size: 12px;
}
#parent .child .name {
    font-weight: bolder;
    color: black;
    margin-bottom: 2px;
    font-size: 20px;
}
#parent .child .read{
    margin: 10px auto;
}
.main_contact {
	height: 163px;
	background-color: #aaa;
	margin-bottom: 100px;
	overflow: hidden;
}
.main_contact_inner {
	width: 50%;
	height: 163px;
	position: relative;
}
.contact_left {
	float: left;
}
.contact_left_inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 307px;
	height: 53px;
	margin: auto;
	overflow: hidden;
}
.contact_left_inner img {
	float: left;
}
.contact_left_inner p {
	float: right;
	font-size: 1.4rem;
	line-height: 20px;
	margin: 9px 0 5px;
}
.contact_left_inner span {
	font-size: 0.9rem;
}
.contact_right {
	float: right;
}
.contact_right_inner {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 243px;
	height: 33px;
	margin: auto;
	padding: 25px 85px 25px 41px;
	background-color: #ff0600;
	transition: 0.4s;
}
.contact_right_inner:hover {
	transform: scale(1.1,1.1);
}
.contact_right p {
	float: right;
	color: #fff;
	font-size: 1.3rem;
}
.wiki_main_area {
	min-height:900px
}
footer {
    height: 93px;
    border-top: 4px solid #517D99;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
	margin-left: 119px;
	font-size: 0.75rem;
	line-height: 93px;
}
.footer_link ul {
    text-align: center;
    margin-left: -10px;
    font-size: 0;
    font-family: 'Dosis', sans-serif;
}
.footer_link ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 25px; 
}
.footer_link ul li a{
	color:#484848;
}
.footer_link ul li a div.top:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_TOP.jpeg) no-repeat;
    background-size: contain;
}
.footer_link ul li a div.aboutus:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_ABOUTUS.jpeg) no-repeat;
    background-size: contain;
}
.footer_link ul li a div.wiki:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_WIKI.jpeg) no-repeat;
    background-size: contain;
}
.footer_link ul li a div.link:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_LINK.jpeg) no-repeat;
    background-size: contain;
}
.footer_link ul li a div.coffeebrake:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_COFFEEBRAKE.jpeg) no-repeat;
    background-size: contain;
}

/* scroll under */
p a {
	color: #fff;
}
.underScroll {
	position: absolute;
	top: 650px;
	left: 50%;
	text-align: center;
	z-index: 2;
	display:inline-block;
	margin-left: -60px;
	font-family: "Century Gothic";
	font-size: 1.9rem;
	letter-spacing: 0.3em;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
/* arrow under */
.underScroll span {
  position: absolute;
  top: -90px;
  left: 23%;
  width: 44px;
  height: 44px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
   -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
.underScroll:hover {
	opacity: 0.2;
}
/* arrow under move */
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



.swiper-wrapper {
	width: 200px;
	height: 200px;
	
}
.swiper-slide {
	border: dashed 0px silver;
	width: 300px;
	height: 300px;
	object-fit: cover;
	color: #ffffff;
	text-align: center;
	/* line-height: 250px; */
}
.swiper-slide {
	background-color: #ffffff;
}
