.swiper-container-free-mode > .swiper-wrapper{-webkit-transition-timing-function:linear!important; -o-transition-timing-function:linear!important; transition-timing-function:linear!important; }

html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body {
	width: 100%;
} 
#header_inner,.main_contact,#section02_inner,#company {
	width: 960px;
	margin: 0 auto;
} 
#header_inner {
	height: 65px;
	width: 100%;
	position: fixed;
	background-color: rgba(238,249,255,0.7);
	z-index:2;
} 
#header_logo,#header_contact,#header_text {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
} 
#header_logo {
	float: left;
	padding-left: 30px;
} 
#header_contact {
	width: 155px;
	height: 51px;
	right: 0;} #header_contact_inner {
	display: block;
	width: 102px;
	height: 24px;
	text-align: center;
	padding: 14px 26px 13px 27px;
	background-color: #ff0600;
	transition: 0.4s;
} 
#header_contact_inner:hover {
	transform: scale(1.1,1.1);
} 
#header_contact_inner p {
	color: #fff;
} 
#header_text {
	width: 243px;
	height: 29px;
	right: 155px;
}
.header_list{
	float:right;
}
.list_element{
	float:left;
	border-right: 1px solid antiquewhite;
	border-left: 1px solid antiquewhite;
}
.header_list a {
    color: blue;
    font-weight: bold;
    line-height: 65px;
    padding: 24px 40px;
}
.list_element:hover{
	background-color:#FFE6EB;
	cursor:pointer;
}
#Wiki_Top_img {
	width:75%;
	min-height:450px;
	margin-left:30%;
	background:url(../images/Wiki_Top.jpg)no-repeat;
	border-bottom-left-radius:100px;
	background-size:cover;
} 
#Wiki_Top_title {
	position:relative;
	bottom:100px;
	left:90px;
	width:10%;
	padding:0px;
} 
.main-title {
	display:block;
	margin:0 0 20px 0;
	font-size:5.8rem;
	font-weight:bolder;
	line-height:1;
	color:black;
	text-align:left;
} 
.sub-title {
	display:block;
	font-size:1.5rem;
	color:black;
	text-align:left;
} 
#header_text p {
	font-size: 0.9rem;
} 
#main_image_Vision {
	display: table;
	width: 100%;
	height: 482px;
	background-size: cover;
} 
#main_image_Vision_inner {
	width: 100%;
	height: 482px;
	position: relative;
	background: url(sis_dx_home/Introduction/images/Vision.png) no-repeat;
	background-size:cover;
}
.our_vision{
	background-image:url(../images/Vision3.jpg);
	background-size:cover;
	height:1000px;
}
.our_vision_container{
	color: yellow;
	padding: 350px 0 0 40px;
}
.our_vision_container h2 {
    color: #ffffff;
    font-size: 80px;
    opacity: 0.9;
}
.our_vision_container p {
    color: #ffffff;
    font-size: 35px;
    padding-top: 20px;
    font-weight: bold;
    letter-spacing:2px;
    line-height:50px;
}
h1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 85px;
	margin: auto;
	color: #ccc;
	font-size: 4.3rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.scroll {
	height: 87px;
	width: 100%;
	background-color: #aaa;
	position: relative;
	display: table;
}
.scroll:after {
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	bottom: -14px;
	border-top: 43px solid #aaa;
	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}
h2 {
	color: #fff;
	font-size: 1.9rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.CoffeeBrake_Top {
    	background-position: center top;
    	background-image: url(../images/CoffeeBrake_Top.jpg);
    	background-size: cover;
    	height: 300px;
}
.CoffeeBrake_Title {
    	width: 100%;
    	padding-top: 100px;
    	position: absolute;
    	font-size: 60px;
    	color: #fff;
    	text-align: right;
	font-family: 'Nothing You Could Do', cursive;
}
.Coffee_Main {
    position: relative;
    height: 600px;
    width: 100%;
    display: block;
}
nav {
	height: 396px;
	width: 100%;
	margin: 0 auto;
} #main_nav {
	width: 67.5%;
	min-width: 687px;
	height: 396px;
	overflow: hidden;
	margin: 0 auto;
	padding: 88px 0;
	color: #fff;
} #main_nav li {
	float: left;
	height: 225px;
	width: 225px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
} #main_nav li:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 22px;
	right: 0;
	left: 0;
	width: 21px;
	height: 21px;
	margin: auto;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: rotate(45deg);
} #main_nav li:last-of-type {
	float: none;
	margin: 0 auto;
} #main_nav li:nth-of-type(2) {
	float: right;
} #main_nav a {
	color: #fff;
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 50%;
	text-align: center;
	padding: 83px 0 100px;
} #div03 {
	height: 940px;
}
#main_nav_b {
	width: 67.5%;
	min-width: 687px;
	height: 396px;
	overflow: hidden;
	margin: 0 auto;
	padding: 88px 0;
} #main_nav_b li {
	float: left;
	height: 225px;
	width: 225px;
	border: 2px solid #000;
	border-radius: 50%;
	position: relative;
} #main_nav_b li:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 22px;
	right: 0;
	left: 0;
	width: 21px;
	height: 21px;
	margin: auto;
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
	transform: rotate(45deg);
} #main_nav_b li:last-of-type {
	float: none;
	margin: 0 auto;
} #main_nav_b li:nth-of-type(2) {
	float: right;
} #main_nav_b a {
	color: #000;
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 50%;
	text-align: center;
	padding: 83px 0 100px;
}

.contents {
	height: 1000px;
	overflow: hidden;
}
.contents2 {
	height: 840px;
	overflow: hidden;
}
.left {
	float: left;
	height: 400px;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
} #photo01 {
	background-image: url(../images/step1.jpg);
} #photo02 {
	background-image: url(../images/step2.jpg);
} #photo03 {
	background-image: url(../images/step3.jpg);
}
.right {
	float: right;
	width: 50%;
	height: 400px;
}
.center {
	float: center;
	width: 50%;
	height: 400px;
}
.member {
	text-align: center;
	border: 3px solid black;
	border-left: 0px;
	border-right: 0px;
	margin: 20px 450px;
}
.text {
	background-color: white;
}
.contents p,h4 {
	margin: 30px 120px 0 21px;
	color: #000000;
}
.child {
    width: 295px;
}
p.img-box {
    width: 250px;
}
h4 {
	font-size: 3rem;
}
.title_container {
	font-size: 40px;
	font-weight:600;
	border-bottom: 1px solid black;
}
.img-box img:hover {
	transform: scale(1.15);
	transition-duration: 1.2s;
}
.img-box{
  	overflow:hidden;
  	width: 100%;
  	height: auto;
}
.parent {
	width: 1310px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.txt-setbox{
	min-height: 15em;
	margin: 2px 3px;
	padding: 3px 3px;
	background-color: #f0fff0;
	border: outset;
}
p.name{
	font-weight: bold;
	font-size: 20px;
	margin: 12px;
}
.support{
	height: 1000px;
}
.main_contact {
	height: 163px;
	background-color: #aaa;
	margin-bottom: 100px;
	overflow: hidden;
}
.main_contact_inner {
	width: 50%;
	height: 163px;
	position: relative;
}
.contact_left {
	float: left;
}
.contact_left_inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 307px;
	height: 53px;
	margin: auto;
	overflow: hidden;
}
.contact_left_inner img {
	float: left;
}
.contact_left_inner p {
	float: right;
	font-size: 1.4rem;
	line-height: 20px;
	margin: 9px 0 5px;
}
.contact_left_inner span {
	font-size: 0.9rem;
}
.contact_right {
	float: right;
}
.contact_right_inner {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 243px;
	height: 33px;
	margin: auto;
	padding: 25px 85px 25px 41px;
	background-color: #ff0600;
	transition: 0.4s;
}
.contact_right_inner:hover {
	transform: scale(1.1,1.1);
}
.contact_right p {
	float: right;
	color: #fff;
	font-size: 1.3rem;
}
#wiki_main_area {
	padding:50px 0;
	text-align:center;
}
#wiki_main_area .topic {
	display:block;
	margin:100px;
}
#wiki_main_area .topic01 {
	border-top:7px solid black;
	border-bottom:0px solid;
	border-right:0px solid;
	border-left:0px solid;
	height:1em;
	text-align:center;
	overflow:visible;
}
#wiki_main_area .topic01::after {
	content:"ツール説明";
	background:white;
	color:black;
	display:inline-block;
	height:2em;
	line-height:2em;
	position:relative;
	top:-1em;
	padding:0 1em;
	font-size:35px;
}
#wiki_main_area .topic02 {
	border-top:7px solid black;
	border-bottom:0px solid;
	border-right:0px solid;
	border-left:0px solid;
	height:1em;
	text-align:center;
	overflow:visible;
}
#wiki_main_area .topic02::after {
	content:"ゼロからのアジャイル";
	background:white;
	color:black;
	display:inline-block;
	height:2em;
	line-height:2em;
	position:relative;
	top:-1em;
	padding:0 1em;
	font-size:35px;
}
.toolBox {
	display:inline-block;
	position:relative;
	margin-top:30px;
	margin-bottom:300px
}
#toolImg {
	margin-right:500px;
	width:600px;
	z-index:-1;
	box-shadow:4px 4px 4px grey;
}
.toolTxt{
	position:absolute;
	margin-left:500px;
	width:550px;
	height:400px;
	background-color:#f6f6f6;
	top:80px;
	z-index:-2;
}
/* :::::: COFFEE BRAKE :::::: */
input[name="switch"] {
	display: none;
}

/* :::::: button :::::: */
.tabBtn {
	display: flex;
	list-style: none;
	width: 100%;
	margin: 0 0 1px;
	padding: 0;
	height: 10%;
}
.tabBtn li {
	flex-basis: 33.3%;
	background: #517d99;
	height: 100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	font-size: x-large;
}
.tabBtn li:not(:last-child) {
	border-right: 1px solid white;
}
.tabBtn label {
	display: block;
	cursor: pointer;
	color: white;
	transition: background .3s;
	font-size: large;
	font-family: 'Noto Serif TC', serif;
}
.tabBtn label:hover {
	width: 100%;
	height: 100%;
	display: flex;
    	justify-content: center;
    	align-items: center;
	background: rgba(205,92,92,.5);
}

/* :::::: contents :::::: */
.tabContents section {
	padding: 20px;
	background: white;
}
.tabContents h2 {
	margin: 0 0 .5em;
	font-size: 18px;
}
.tabContents p {
	font-size: 12px;
}
.tabContents p a {
	color: #517d99;
}
.tabContents figure {
	float: left;
	width: 30%;
	min-width: 120px;
	margin: 0 1em 0 0;
}
.tabContents figure img {
	max-width: 100%;
	vertical-align: middle;
}
.tabContents section::after {
	content: "";
	display: block;
	clear: left;
}

/* :::::: section :::::: */
section#section-2 { 
	height:500px
    	text-align: center;
}

/* :::::: mechanism :::::: */
.tabContents section {
	opacity: .1;
}
.tabContents section {
	transition: opacity .3s;
}
#tab-1:checked ~ .tabBtn label[for="tab-1"],
#tab-2:checked ~ .tabBtn label[for="tab-2"],
#tab-3:checked ~ .tabBtn label[for="tab-3"]{
	background: #b0b56b;
	height: 100%;
    	width: 100%;
    	flex-direction: column;
	display: flex;
    	justify-content: center;
    	align-items: center;
    	font-size: xx-large;
}
#tab-1:checked ~ .tabContents #section-1,
#tab-2:checked ~ .tabContents #section-2,
#tab-3:checked ~ .tabContents #section-3{
	opacity: 1;
	background: white;
}

/* :::::: slide :::::: */
.tabContents {
	display: flex;
	width: 300%;
	transition: transform .6s;
}
.tabContents section {
	flex-basis: 33.3%;
	opacity: .1;
	transition: opacity .3s;
}
#tab-1:checked ~ .tabContents {
	transform: translateX(0);
}
#tab-2:checked ~ .tabContents {
	transform: translateX(-33.3%);
}
#tab-3:checked ~ .tabContents {
	transform: translateX(-66.6%);
}
footer {
    height: 93px;
    border-top: 4px solid #517D99;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
	margin-left: 119px;
	font-size: 0.75rem;
	line-height: 93px;
}
.footer_link ul {
    text-align: center;
    margin-left: -10px;
    font-size: 0;
    font-family: 'Dosis', sans-serif;
}
.footer_link ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 25px; 
}
.footer_link ul li a{
	color:#484848;
}
.footer_link ul li a div.top:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_TOP.jpeg) no-repeat;
    background-size: contain;
}
.footer_link ul li a div.aboutus:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_ABOUTUS.jpeg) no-repeat;
    background-size: contain;
}
.footer_link ul li a div.wiki:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_WIKI.jpeg) no-repeat;
    background-size: contain;
}
.footer_link ul li a div.link:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_LINK.jpeg) no-repeat;
    background-size: contain;
}
.footer_link ul li a div.coffeebrake:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(../images/FOOTER_COFFEEBRAKE.jpeg) no-repeat;
    background-size: contain;
}

/* scroll under */
p a {
	color: #fff;
}
.underScroll {
	position: absolute;
	top: 650px;
	left: 50%;
	text-align: center;
	z-index: 2;
	display:inline-block;
	margin-left: -60px;
	font-family: "Century Gothic";
	font-size: 1.9rem;
	letter-spacing: 0.3em;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
/* arrow under */
.underScroll span {
  position: absolute;
  top: -90px;
  left: 23%;
  width: 44px;
  height: 44px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
   -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
.underScroll:hover {
	opacity: 0.2;
}
/* arrow under move */
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



.swiper-wrapper {
	width: 200px;
	height: 200px;
	
}
.swiper-slide {
	border: dashed 0px silver;
	width: 300px;
	height: 300px;
	object-fit: cover;
	color: #ffffff;
	text-align: center;
	/* line-height: 250px; */
}
.swiper-slide {
	background-color: #ffffff;
}
/* Wiki　ツール説明 */
.slideshow {
	position: relative;
	overflow: hidden;
}
input[name="slideshow"] {
	display: none;
}
/* :::::: slideContents :::::: */
.slideContents {
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	transition: transform .6s;
}
.slideContents section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateX(100%);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideContents section img {
	max-width: 100%;
	box-sizing: border-box;
	vertical-align: middle;
}
/* :::::: arrows :::::: */
.arrow,
.arrow label,
.arrow .ico {
	position: absolute;
}
.arrow {
	top: 0;
	margin: 0;
	transition: background .3s;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.arrow:hover {
	background: #9b9db31a;
}
.arrow,
.arrow label {
	cursor: pointer;
	width: 50px;
	height: 100%;
}
.arrow label {
	top: 0;
	left: 0;
	z-index: 1;
}
.arrow .ico {
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	border-top: 3px solid #666;
	opacity: 1;
}
.prev .ico {
	left: 50%;
	border-left: 3px solid #666;
	transform: rotate(-45deg);
	transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.next .ico {
	right: 50%;
	border-right: 3px solid #666;
	transform: rotate(45deg);
	transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.arrow:hover .ico {
	opacity: .6;
}
.prev:hover .ico {
	left: calc(50% - 6px);
}
.next:hover .ico {
	right: calc(50% - 6px);
}
/* :::::: mechanism :::::: */
#switch1:checked ~ .slideContents #slide1,
#switch2:checked ~ .slideContents #slide2,
#switch3:checked ~ .slideContents #slide3,
#switch4:checked ~ .slideContents #slide4{
	position: relative;
	transform: none;
}
#switch1:checked ~ .slideContents #slide4,
#switch1:checked ~ .slideContents #slide3,
#switch2:checked ~ .slideContents #slide1,
#switch2:checked ~ .slideContents #slide4,
#switch3:checked ~ .slideContents #slide2,
#switch3:checked ~ .slideContents #slide1,
#switch4:checked ~ .slideContents #slide3,
#switch4:checked ~ .slideContents #slide2 {
	transform: translateX(-100%);
}
#switch1:checked ~ .slideContents #slide3,
#switch1:checked ~ .slideContents #slide4,
#switch2:checked ~ .slideContents #slide4,
#switch2:checked ~ .slideContents #slide1,
#switch3:checked ~ .slideContents #slide1,
#switch3:checked ~ .slideContents #slide2,
#switch4:checked ~ .slideContents #slide2,
#switch4:checked ~ .slideContents #slide3 {
	transition-duration: 0s;
}
/* :::::: arrow mechanism :::::: */
.arrow label {
	pointer-events: none;
}
#switch1:checked ~ .prev label[for="switch4"],
#switch2:checked ~ .prev label[for="switch1"],
#switch3:checked ~ .prev label[for="switch2"],
#switch4:checked ~ .prev label[for="switch3"],
#switch1:checked ~ .next label[for="switch2"],
#switch2:checked ~ .next label[for="switch3"],
#switch3:checked ~ .next label[for="switch4"],
#switch4:checked ~ .next label[for="switch1"]{
	pointer-events: auto;
}

.swiper-container3 {
	margin-top:20px 0;
	background-color:transparent;
}

.swiper-slide.wiki{
	background-color:transparent;
}
